### Java ###
# Compiled class file
*.class

# Log file
*.log

# Jar file
*.jar

### IntelliJ ###
out/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders


