/bootstrap.min.css
/bootstrap.min.js
/Chart.js
/dataTables.bootstrap.min.js
/docs.min.js
/graph.js
/jquery-ui.min.js
/jquery.dataTables.js
/jquery.js
/jquery.min.js
/jstree.min.js
/lightbox-2.6.min.js
