/default.properties
/default.xml
/OrenTest.properties
/OrenTest.xml
/Oren.properties
/Oren.xml
/TestVolte.properties
/TestVolte.xml
/TestOtdoa_Gaby.properties
/TestOtdoa_Gaby.xml
/RegressionP1OneSide_16_0.properties
/RegressionP1OneSide_16_0.xml
/EmergencyCalls.xml
/Regression_test_Alex.properties
/Regression_test_Alex.xml
/FullSanityNoUpgrade.properties
/FullSanityNoUpgrade.xml
/TestOOS_Gaby.properties
/TestOOS_Gaby.xml
/amarisoft.properties
/amarisoft.xml
